body {
  color: #995d25;
}

.project-tile {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 15px;
  background-color: hsla(29, 61%, 37%, 0.103);
  border-color: #995d25;
  color: rgb(0, 0, 0);
  margin: 10px;
  text-align: center;
  cursor: pointer;
}

.project-tile:hover {
  background-color: hwb(29 15% 40% / 0.603);
  color: white;
}

.project-tile > img {
  border-radius: 15px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

nav {
  display: flex;
  justify-content: space-around;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  display: flex;
  justify-content: center;
}

footer p {
  margin: 0;
}

footer a {
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

.project-tile > hr {
  width: 80%;
}
