/* Main Content */
body {
  scroll-behavior: smooth;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

body {
  color: #995d25;
  max-width: 1440px;
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0 auto;
  max-width: 50%;
}
/* Toolbox

#main-app {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  align-items: last baseline;
}

#toolbox {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
  width: 50px;
}

#toolbox:hover {
  background: linear-gradient(135deg, #f0f0f0 0%, #e0993c 100%);
  color: #995d25;
  cursor: pointer;
}

#toolbox > h1 {
  margin: 0 auto;
  font-size: 2rem;
  font-weight: 700;
  color: #e0993c;
  padding: 0.5rem;
} */

/* Header - Navigation */
nav {
  display: flex;
  justify-content: space-around;
}

.nav-element {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 800;
  color: #e0993c;
  gap: 0.5rem;
  transition: all 0.2s ease-in-out;
}

.nav-element:hover {
  transform: scale(1.1);
}

/* Intro Content */

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1.2rem;
  color: #995d25;
  text-align: justify;
  margin: 0 auto;
  padding: 0;
  line-height: 1.5rem;
}

.intro > blockquote {
  font-style: italic;
  font-weight: 650;
  color: #e0993c;
  font-size: 1rem;
}

/* Project Tiles */

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px auto 10px;
}

.project-image {
  border-radius: 15px;
  object-fit: contain;
}

.project-tile {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border: 1px solid #995d25;
  border-radius: 15px;
  background-color: #fff9f6;
  border-color: #995d25;
  margin: 10px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  width: 45%;
}

.project-tile > hr {
  width: 80%;
}

.project-tile:hover {
  background: linear-gradient(135deg, #f0f0f0 0%, #e0993c 100%);
  color: #995d25;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/* Project - Images */

.project-tile > img {
  border-radius: 15px;
  width: 80%;
  height: 60%;
  object-fit: cover;
}

.image-description {
  display: block;
  padding: 0.2rem;
  background-color: #fff9f6;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 80%;
  border: 1px solid #995d25;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.image-description:hover {
  background: linear-gradient(135deg, #f0f0f0 0%, #e0993c 100%);
  color: #995d25;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
  transform: scale(1.02);
  transition: all 0.25s cubic-bezier(1, -0.55, 0.265, 1.55);
}

.technologies {
  display: flex;
  gap: 15px;
  justify-content: center;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Footer */

footer {
  display: flex;
  justify-content: center;
}

footer p {
  margin: 0;
}

footer a {
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

.text-description {
  width: 80%;
  text-align: justify;
  justify-content: center;
  margin: 0px auto 10px;
}

hr {
  width: 80%;
  border: none;
  border-top: 1px solid #995d25;
  margin: 1.5rem auto;
  margin-bottom: 1.5rem;
  background: linear-gradient(to right, #e0993c, #fff);
  background-size: 200px 100%;
  background-position: 0% 100%;
  transition: background-position 0.5s ease-out;
}

hr:hover {
  background-position: 100% 100%;
}

@media (max-width: 1024px) {
  body {
    max-width: 100%;
  }

  .project-tile {
    width: 45%;
  }
}

@media (max-width: 768px) {
  body {
    max-width: 100%;
  }
  .project-tile {
    width: 100%;
  }

  .nav-element {
    font-size: 1.5rem;
  }

  nav {
    align-items: flex-start;
    gap: 25px;
  }

  div.nav-element:nth-child(1) > a:nth-child(1) > svg:nth-child(1) {
    display: block;
  }
  div.nav-element > a:nth-child(1) > div:nth-child(2) {
    display: none;
  }

  .intro {
    max-width: 90%;
  }
}
