body {
  color: #995d25;
  max-width: 1440px;
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0 auto;
}

.project-tile {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border: 1px solid #995d25;
  border-radius: 15px;
  background-color: #fff9f6;
  border-color: #995d25;
  margin: 10px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  width: 50%;
}

.project-tile:hover {
  background: linear-gradient(135deg, #f0f0f0 0%, #e0993c 100%);
  color: #995d25;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
  transform: scale(1.02);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.project-tile > img {
  border-radius: 15px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-image {
  border-radius: 15px;
  object-fit: contain;
}

.technologies {
  display: flex;
  gap: 10px;
  justify-content: center;
}

nav {
  display: flex;
  justify-content: space-around;
}

.nav-element {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 800;
  color: #e0993c;
  gap: 0.5rem;
  transition: all 0.2s ease-in-out;
}

.nav-element:hover {
  transform: scale(1.1);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  display: flex;
  justify-content: center;
}

footer p {
  margin: 0;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1.2rem;
  color: #995d25;
  text-align: justify;
  margin: 0 auto;
  padding: 0;
  line-height: 1.5rem;
  max-width: 50%;
}

.intro > blockquote {
  font-style: italic;
  font-weight: 650;
  color: #e0993c;
  font-size: 1rem;
}

footer a {
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

.project-tile > hr {
  width: 80%;
}

@media (max-width: 1024px) {
  .project-tile {
    width: 45%;
  }
}

@media (max-width: 768px) {
  .project-tile {
    width: 100%;
  }

  .nav-element {
    font-size: 1.5rem;
  }

  nav {
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }

  .intro {
    max-width: 90%;
  }
}
